/* :default Style setting */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}
/* Body Style Setting */
body{
  height: 100vh;
  background-color: #fff;
   /* background-image: url('./img/background.JPG');    */
  background-size: cover;
  background-position: top;
}
/* Header style setting */
header{
  position: relative;
  padding:0 2rem;
 
}

/*Main navbar Styling setting*/
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Main navbar Logo Styling setting*/
.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
 
}
#logo-img{
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
 
}
/*Main navbar Links setting*/
.navbar .links{
  display: flex;
  gap : 2rem;
}
/*Main navbar links items Styling setting*/
li{
  list-style: none;
}
.navbar .toggle_btn{
  color: rgb(134, 169, 152);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  }
  /* Getting Start button in the menu Style setting*/
  .action_btn{
    background-color: rgb(134, 169, 152);
    color :#1d0c0c;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size:0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale(0.2 ease) 
    }
    /* Getting Start button in the menu Style setting hover on*/
    .action_btn:hover{
      transform: scale(1.05);
        color:rgb(184, 127, 34);
    }
    .action_btn:active{
      transform: scale(0.95);
      }
/*Main navbar links items hiber link Styling setting*/
a{
  text-decoration: none;
  color: #1d0c0c;
  font-size: 1rem;
}
/* Drop Down Menu  one the screen size reduced*/

.dropdown_menu{
  display: none; 
  position: absolute; 
  right: 2rem; 
  top: 60px; 
  height: 0;
  width: 15rem;
  background: rgba(101, 18, 52, 0.1);
  filter: blur();  
  border-radius: 15px; 
   overflow: hidden;  
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  /*used to toggle opening the drop down menu according to screen size*/ 
  .dropdown_menu.open{
    height: 240px;
    }
  .dropdown_menu i{
    padding: 0.7rem;
    display: flex;
    gap : 2rem;
    justify-content: center;
  align-items: center;
  }
/*Getting start buttong when the drop down menu activated in small screen*/
  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    }

/*Main navbar links items hiber link  HoverStyling setting*/
a:hover{
  color: orange;
}
    /* Hero  Main Section start with Welcome*/
 section#hero{
  height:calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1d0c0c;
  
 }
 #hero h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  
 }
      /*RESPONSIVE*/
@media(max-width:992px){
  .navbar .links,
  .navbar .action_btn{
  display: none;
  }
  .navbar .toggle_btn {
  display: block
  }
  .dropdown_menu{
   display: block;

  }
  section#hero{
    display:flex
  }

  
  }
  /*Sweeper*/
.container{
  background-color: rgb(20, 36, 30);
 
   width: 30%;
   margin-left: 30%;
  height: 10rem;
  margin-top: 10%;
  height: 20rem;
  border-radius: 2rem;

}
.sweep-img{
  /* width: 20%; */
  height: 20rem;
  width: 100%;
  border-radius: 2rem;
  
}
  @media(max-width:576px){
  .dropdown_menu{
    left: 2rem;
    width :unset;
  }
  .swiper{
    display: none;
    border-radius: 2rem;
  }
  section#hero{
    display:none
  }

  }

/*footer class settings*/

.footer {
	background: #111;
	color: var(--clr-accent);
	text-align: center;
	padding: 2.5em 0;
	font-size: var(--fs-h3);
	
}



 /*Who We Support Sub Page */

    /*page style format settings*/

    :root{
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #c9efc7;
    }
    
.wesupport {
 	text-align: center;
  margin-top: 50px;
  padding-top: 25px;

}
.section__subtitle--support {
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}

.nonprofit {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 25px;
  
}

.nonprofit_item {
  overflow: hidden;
 
}

.nonprofit_logo {
  transition: 
      transform 750ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
      margin-top: 50px;
      margin-bottom: 50px;
      
     
}

.nonprofit_item:focus {
  position: relative;
  z-index: 2;
}

.nonprofit_logo:hover,
.nonprofit_item:focus .logo__img {
    transform: scale(1.2);
    opacity: .5;
    
   
}

/*Board of Directors Sub Page*/

.board_directors {
  background-image: url();
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
}

.section__title--bds {
  color: var(--clr-accent);
  position: relative;
}

.section__title--bds::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.bds {
  margin-bottom: 4em;
}

.bd {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .bds {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .bd + .bds {
      margin-left: 2em;
  }
}

/*paragraph margins for school page- in combination with nonprofit css*/

 p.school_text{
  margin-top: 10px;
  margin-bottom: 25px;

}

/*at work page */

h6, p {
  font-family: sans-serif;
}

.c-heroImageGrid {
	position: relative;
	overflow: hidden;
	height: 50vw;
	background: #fff;
  margin-top: 50px;
}

.c-heroImageGrid .container {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: -20vw;
	left: -8vw;
	transform: rotateZ(45deg);
	height: 100vw;
	width: 107vw;
}

.c-heroImageGrid .container .column {
	overflow: hidden;
	position: relative;
}

.c-heroImageGrid .container .column:nth-of-type(1) {
	border-right: 8px solid white;
	width: 25%;
	height: 66vw;
}

.c-heroImageGrid .container .column:nth-of-type(1):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(1):before {
	position: absolute;
	top: 8.4vw;
	left: 8.1vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 37vw;
	height: 38vw;
	background-image: url(https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?cs=srgb&dl=beach-blur-boardwalk-132037.jpg&fm=jpg);
}


.c-heroImageGrid .container .column:nth-of-type(2) {
	display: flex;
	flex-direction: column-reverse;
	width: 75%;
	height: 109.1vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row {
	border-top: 8px solid #fff;
}


.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1) {
	position: relative;
	overflow: hidden;
	height: 50vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
	position: absolute;
	top: -10.1vw;
	left: -14.3vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 65vw;
	height: 39vw;
	background-image: url(https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?cs=srgb&dl=arch-bridge-clouds-814499.jpg&fm=jpg);
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) {
	display: flex;
	height: 40.5vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	border-top: none;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) {
	overflow: hidden;
	width: 30%;
	background-color: #8B8B8A;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text {
	width: 100%;
	height: 100%;
	overflow: visible;
	transform: rotateZ(-45deg);
	position: relative;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text h6 {
	position: absolute;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.35vw;
	width: 20vw;
	top: 16vw;
	left: 7vw;
	line-height: 1.55vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text p {
	text-align: right;
	position: absolute;
	color: #fff;
	font-size: 0.9vw;
	width: 18vw;
	top: 23.5vw;
	left: -3.5vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2) {
	position: relative;
	width: 70%;
	border-left: 8px solid white;
	overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):before {
	position: absolute;
	top: 0;
	left: -40vw;
	width: 110.1vw;
	height: 110vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?cs=srgb&dl=adventure-calm-clouds-414171.jpg&fm=jpg);
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	position: relative;
	height: 18.6vw;
	overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):before {
	position: absolute;
	top: 7.5vw;
	left: 25vw;
	width: 33vw;
	height: 27vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://images.unsplash.com/photo-1518098268026-4e89f1a2cd8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}

/*at work page list numbering*/

.worktitle{
  text-align: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
}


.worklist{
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.workfooter{
  text-align: center;
  margin-top: 50px;
  margin-left: 15px;
  padding-bottom: 30px;
}

/* Submenus */

.submenu {
  float: left;
  overflow: hidden;
  background-color: rgb(175, 180, 177);
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 2rem 2rem 0rem 0rem;
 
}

.submenu .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: rgb(175, 180, 177);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  /* border-radius: 2rem; */
}

.navbar a:hover, .submenu:hover .dropbtn {
  background-color: rgb(175, 180, 177);
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: rgb(175, 180, 177);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0rem 2rem 0rem 0rem;  
}

.submenu-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropbtn :hover{
  background-color: rgb(143, 179, 157);
}
.submenu-content a:hover {
  background-color: rgb(143, 179, 157);
}

.submenu:hover .submenu-content {
  display: block;
}


/* _________________Contact Section stylying_______________ */
/* .contact .title::after{
    content: "Get in touch";
}  */
.contact{
  display: flex;
  flex-direction: column;
  margin-top: 10rem ;
  width: 70%;
  margin-left: 20%;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
    background-color: rgb(108, 104, 109);
    margin-left: 25%;
    margin-top: 0%;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: rgb(128, 136, 136);
}

.contact .contact-content .left p{
    text-align: justify;
    background-color: rgb(136, 143, 143);
}
.contact .contact-content .left .icons{
    margin:  10px 0;

}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
    background-color: rgb(92, 99, 99);
}
.contact .contact-content .row .info{
    margin-left: 30px;
   
}
.contact .contact-content .row i{
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
   
}

.contact .right form .fields{
    display: block;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
    

}
.contact .right form .field input{
    height: 100% ;
    width: 100% ;
    border:  1px solid crimson;
}
.contact .right .form .button{
    border: 2px solid black;}