/* :default Style setting */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}
/* Body Style Setting */
body{
  height: 100vh;
  background-color: #fff;
   /* background-image: url('./img/background.JPG');    */
  background-size: cover;
  background-position: top;
}
/* Header style setting */
header{
  position: relative;
  padding:0 2rem;
 
}
/*Main navbar Styling setting*/
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Main navbar Logo Styling setting*/
.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}
#logo-img{
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
/*Main navbar Links setting*/
.navbar .links{
  display: flex;
  gap : 2rem;
}
/*Main navbar links items Styling setting*/
li{
  list-style: none;
}
.navbar .toggle_btn{
  color: #e12b2b;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  }
  /* Getting Start button in the menu Style setting*/
  .action_btn{
    background-color: rgb(134, 169, 152);
    color :#1d0c0c;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size:0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale(0.2 ease) 
    }
    /* Getting Start button in the menu Style setting hover on*/
    .action_btn:hover{
      transform: scale(1.05);
        color:rgb(184, 127, 34);
    }
    .action_btn:active{
      transform: scale(0.95);
      }
/*Main navbar links items hiber link Styling setting*/
a{
  text-decoration: none;
  color: #1d0c0c;
  font-size: 1rem;
}
/* Drop Down Menu  one the screen size reduced*/

.dropdown_menu{
  display: none; 
  position: absolute; 
  right: 2rem; 
  top: 60px; 
  height: 0;
  width: 15rem;
  background: rgba(101, 18, 52, 0.1);
  filter: blur();  
  border-radius: 15px; 
   overflow: hidden;  
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  /*used to toggle opening the drop down menu according to screen size*/ 
  .dropdown_menu.open{
    height: 240px;
    }
  .dropdown_menu i{
    padding: 0.7rem;
    display: flex;
    gap : 2rem;
    justify-content: center;
  align-items: center;
  }
/*Getting start buttong when the drop down menu activated in small screen*/
  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    }

/*Main navbar links items hiber link  HoverStyling setting*/
a:hover{
  color: orange;
}
    /* Hero  Main Section start with Welcome*/
 section#hero{
  height:calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1d0c0c;
  
 }
 #hero h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  
 }
      /*RESPONSIVE*/
@media(max-width:992px){
  .navbar .links,
  .navbar .action_btn{
  display: none;
  }
  .navbar .toggle_btn {
  display: block
  }
  .dropdown_menu{
   display: block;

  }
  section#hero{
    display:flex
  }

  
  }
  @media(max-width:576px){
  .dropdown_menu{
    left: 2rem;
    width :unset;
  }
  .container-swiper{
    display: none;
  }
  section#hero{
    display:none
  }

  }

/*footer class settings*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;
	background: #111;
	color: var(--clr-accent);
	text-align: center;
	font-size: 18px;
 
	
}



 /*Who We Support Sub Page */

    /*page style format settings*/

    :root{
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #c9efc7;
    }
    
.wesupport {
 	text-align: center;
  margin-top: 50px;
  padding-top: 25px;

}
.section__subtitle--support {
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}

.nonprofit {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 25px;
  margin-bottom: 55px;
  
}

.nonprofit_item {
  overflow: hidden;
}

.nonprofit_logo {
  transition: 
      transform 750ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
      margin-top: 50px;
    
}

.nonprofit_item:focus {
  position: relative;
  z-index: 2;
}

.nonprofit_logo:hover,
.nonprofit_item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

/*Board of Directors Sub Page*/

.board_directors {
  background-image: url();
  background-size: cover;
 
  /* background-blend-mode: multiply; */
  text-align: center;
  margin-top: 50px;
  
}

.section__title--bds {
  color: var(--clr-accent);
  background-color: var(--clr-dark);
  position: relative;
  text-align: center;
  padding-top: 10px;
 
}

.section__title--bds::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.bds {
  height: auto;
  
}

.bd {
  max-width: 500px;
  margin: 25px 5px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  
  
}

@media (min-width: 800px) {
  .bds {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .bd + .bds {
      margin-left: 2em;
  }
}


/*privacy policy page*/

.pp_list {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

/*paragraph margins for school page- in combination with nonprofit css*/

 p.school_text{
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
 }

 img.oerlogo {
  background-color: var(--clr-dark);

 }


/*at work page */

h6, p {
  font-family: sans-serif;
}

.c-heroImageGrid {
	position: relative;
	overflow: hidden;
	height: 50vw;
	background: #fff;
  margin-top: 50px;
}

.c-heroImageGrid .container {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: -20vw;
	left: -8vw;
	transform: rotateZ(45deg);
	height: 100vw;
	width: 107vw;
}

.c-heroImageGrid .container .column {
	overflow: hidden;
	position: relative;
}

.c-heroImageGrid .container .column:nth-of-type(1) {
	border-right: 8px solid white;
	width: 25%;
	height: 66vw;
}

.c-heroImageGrid .container .column:nth-of-type(1):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(1):before {
	position: absolute;
	top: 8.4vw;
	left: 8.1vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 37vw;
	height: 38vw;
	background-image: url(https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?cs=srgb&dl=beach-blur-boardwalk-132037.jpg&fm=jpg);
}


.c-heroImageGrid .container .column:nth-of-type(2) {
	display: flex;
	flex-direction: column-reverse;
	width: 75%;
	height: 109.1vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row {
	border-top: 8px solid #fff;
}


.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1) {
	position: relative;
	overflow: hidden;
	height: 50vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
	position: absolute;
	top: -10.1vw;
	left: -14.3vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 65vw;
	height: 39vw;
	background-image: url(https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?cs=srgb&dl=arch-bridge-clouds-814499.jpg&fm=jpg);
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) {
	display: flex;
	height: 40.5vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	border-top: none;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) {
	overflow: hidden;
	width: 30%;
	background-color: #8B8B8A;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text {
	width: 100%;
	height: 100%;
	overflow: visible;
	transform: rotateZ(-45deg);
	position: relative;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text h6 {
	position: absolute;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.35vw;
	width: 20vw;
	top: 16vw;
	left: 7vw;
	line-height: 1.55vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text p {
	text-align: right;
	position: absolute;
	color: #fff;
	font-size: 0.9vw;
	width: 18vw;
	top: 23.5vw;
	left: -3.5vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2) {
	position: relative;
	width: 70%;
	border-left: 8px solid white;
	overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):before {
	position: absolute;
	top: 0;
	left: -40vw;
	width: 110.1vw;
	height: 110vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?cs=srgb&dl=adventure-calm-clouds-414171.jpg&fm=jpg);
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	position: relative;
	height: 18.6vw;
	overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):before {
	position: absolute;
	top: 7.5vw;
	left: 25vw;
	width: 33vw;
	height: 27vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://images.unsplash.com/photo-1518098268026-4e89f1a2cd8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}

/*at work page list numbering*/


.worktitle{
  text-align: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
}


.worklist{
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 25px;
  margin-right: 15px;
  margin: -1;
}


.workfooter{
  text-align: center;
  margin-top: 50px;
  margin-left: 15px;
  padding-bottom: 30px;
}
/*corporate sponsor page*/



.sponsortitle {
  margin-top: 60px;
  text-align: center;
  
}
p.sponsor{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
 }
 .grid { 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  }
.grid img {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
}
.grid img:nth-child(6) {
  grid-column: span 5;
  }

/*earth day page*/



.grid-container {
  margin-top: 25px;
  background-image: url("img\water trees.jpg") ;
  display: grid;
  grid-template-columns: 0.25fr 10px 0.75fr;
  grid-template-rows: auto 20px auto 20px auto 20px auto;
}

.grid-element {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 2em;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
  background: var(--clr-accent);
}

.main {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  background: var(--clr-accent);
  height:600px
}

.extra {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 450px;

}

/*Shore Sweep Page*/

.ss_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  color: red;
}

.container_ss {
  width: 600px;
  height: 600px;
  background-color: blue;
  display: flex;

}
  /* row direction  */


.left {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 400px;
}



.large {
  width: 400px;
  height: 400px;
}

.small {
  width: 200px;
  height: 200px;
}

h1.ss_text
h2.ss_text {

  justify-content: center;
  align-content: center;
  margin-top: 20px;
  
}

/*FAQ page*/

h1.faqtitle {
  margin-left: 25px;
  margin-top: 60px;
  margin-bottom: 30px;
  
}

p.qa, p.answer {
  margin-top: 10px;
  margin-left: 25px;
}

/*volunteer page - will use boardandstaff css */ 
.volunteer_img{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  }

/*Home Page*/

@import url(https://fonts.googleapis.com/css?family=Pacifico);
html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  margin-top: 25px;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1920&h=1282&q=80");
  background-size: cover;
  filter: blur(0px);
  overflow: hidden;
}

.circle_container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  transform-origin: left center;
}
.circle_container .circle {
  position: absolute;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  opacity: 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(70vmin);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(70vmin);
    opacity: 0;
  }
}
.wrapper .name_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  box-shadow: inset 0px 0px 30px 30px rgba(200, 200, 200, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .name_container > div {
  font-family: "Pacifico", cursive;
  color: rgba(255, 255, 255, 0.7);
}
.wrapper .name_container .name {
  font-size: 5.5vmax;
}
.wrapper .name_container .designation {
  margin-top: 10px;
  font-size: 1vmax;
}